In [2]:
import pandas as pd
import nltk.data
nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/zexi_ye/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [3]:
!pwd

/Users/zexi_ye/Zexi/NYU/Fall 2019/DS-GA 1006

In [4]:
df = pd.read_csv('data/nyu_capstone_data/tripadvisor_100k_poi_reviews.csv')
df = df.drop('Unnamed: 0', axis = 1)
df

,userreview_id,TAPOILocationId,TAPOILocationName,TAGeoId,TAGeoName,review_cnt,bubble_rating,num_thumb_ups,title,reviewtext
0,38412456,104365,Empire State Building,60763,New York City,76157,3,155,"86th floor worth it, 102nd not",We arrived at sunset and pretty much moved thr...
1,660950745,104365,Empire State Building,60763,New York City,76157,4,86,No more a King Kong favourite,The construction of the Empire State Building ...
2,611308372,104365,Empire State Building,60763,New York City,76157,5,62,Great view,This is a great way to see all of New York fro...
3,4583693,104365,Empire State Building,60763,New York City,76157,5,54,NYC Views,4 things you must do when you visit this build...
4,18606584,104365,Empire State Building,60763,New York City,76157,5,47,"Empire State Building Express Pass, Worth EVER...","If skipping ALL lines including security, stan..."
...,...,...,...,...,...,...,...,...,...,...
99995,521154558,213416,Camera Obscura and World of Illusions,186525,Edinburgh,19759,5,1,Great experience,Such a fun place to visit with kids. My 12 yea...
99996,662168268,213416,Camera Obscura and World of Illusions,186525,Edinburgh,19759,4,1,Very interesting,Definitely recommend visiting here if you enjo...
99997,490120835,213416,Camera Obscura and World of Illusions,186525,Edinburgh,19759,5,1,"Fun, interactive and quite special","A really nice activity, suitable for any weath..."
99998,571770649,213416,Camera Obscura and World of Illusions,186525,Edinburgh,19759,5,1,A great day out,This attraction was so busy there was a queue ...
99999,522764577,213416,Camera Obscura and World of Illusions,186525,Edinburgh,19759,5,1,best experience for families with kids,best experience for families with kids. don't ...

In [5]:
tokenizer = nltk.data.load('tokenizers/punkt/english.pickle')
# fp = open('nyu_capstone_data/tripadvisor_100k_poi_reviews.csv')
# data = fp.read()
data = df['reviewtext']
# print ('\n-----\n'.join(tokenizer.tokenize(data)))

tokenized_data = data.apply(tokenizer.tokenize)
tokenized_data

0        [We arrived at sunset and pretty much moved th...
1        [The construction of the Empire State Building...
2        [This is a great way to see all of New York fr...
3        [4 things you must do when you visit this buil...
4        [If skipping ALL lines including security, sta...
                               ...
99995    [Such a fun place to visit with kids., My 12 y...
99996    [Definitely recommend visiting here if you enj...
99997    [A really nice activity, suitable for any weat...
99998    [This attraction was so busy there was a queue...
99999    [best experience for families with kids., don'...
Name: reviewtext, Length: 100000, dtype: object

In [6]:
tokenized_data[0]

['We arrived at sunset and pretty much moved through the line with short backups at the metal detectors, the obligatory green screen photo, and the elevator to the 80th floor.',
 'The elevator to the 86th floor had a 20-25 minute wait so we hoofed it up the six floors in less than five minutes.',
 'The 86th floor outdoor observatory was crowded (especially looking west), but it didn\'t take too long to get to the "edge" where the views were excellent.||||We then plopped down $15 a person to go to the 102nd floor observatory.',
 'We waited 15-20 minutes for the elevator.',
 'The elevator operator was hilarious and made the ride up great fun.',
 'That said, once we arrived it was clear that we had just blown 15 bucks.',
 'The view was indistinguishable from, if not worse than, that of the 86th.']

## Break down list of sentences into sentences and duplicate the features (Unpivoting)

In [17]:
from tqdm import tqdm

In [28]:
index_list = []
sentences = []

for index, value in tqdm(tokenized_data.items()):
    for sent in value:
        index_list.append(index)
        sentences.append(sent)

100000it [00:00, 313683.12it/s]

In [29]:
temp = pd.DataFrame({'sentence': sentences, 'original_index': index_list})

In [34]:
combinedDF = temp.merge(df, left_on='original_index', right_index=True)

In [36]:
combinedDF.drop(columns=['reviewtext', 'Sentences', 'original_index'], inplace=True)

In [37]:
combinedDF

,sentence,userreview_id,TAPOILocationId,TAPOILocationName,TAGeoId,TAGeoName,review_cnt,bubble_rating,num_thumb_ups,title
0,We arrived at sunset and pretty much moved thr...,38412456,104365,Empire State Building,60763,New York City,76157,3,155,"86th floor worth it, 102nd not"
1,The elevator to the 86th floor had a 20-25 min...,38412456,104365,Empire State Building,60763,New York City,76157,3,155,"86th floor worth it, 102nd not"
2,The 86th floor outdoor observatory was crowded...,38412456,104365,Empire State Building,60763,New York City,76157,3,155,"86th floor worth it, 102nd not"
3,We waited 15-20 minutes for the elevator.,38412456,104365,Empire State Building,60763,New York City,76157,3,155,"86th floor worth it, 102nd not"
4,The elevator operator was hilarious and made t...,38412456,104365,Empire State Building,60763,New York City,76157,3,155,"86th floor worth it, 102nd not"
...,...,...,...,...,...,...,...,...,...,...
714592,With our 3 grandchildren wanting to be kept am...,571770649,213416,Camera Obscura and World of Illusions,186525,Edinburgh,19759,5,1,A great day out
714593,The highlights were the voltex tube and of cou...,571770649,213416,Camera Obscura and World of Illusions,186525,Edinburgh,19759,5,1,A great day out
714594,best experience for families with kids.,522764577,213416,Camera Obscura and World of Illusions,186525,Edinburgh,19759,5,1,best experience for families with kids
714595,don't miss it for the world.,522764577,213416,Camera Obscura and World of Illusions,186525,Edinburgh,19759,5,1,best experience for families with kids
714596,great way to spend a few hours - rain or not.,522764577,213416,Camera Obscura and World of Illusions,186525,Edinburgh,19759,5,1,best experience for families with kids